<% matches.each do |match| %>
<div class="col-sm-4 mt-3">
    <% if match.images.attached? %>
    <div class="match-tile rounded" data-id="<%= match.id  %>"
        style="background-image: url('<%= url_for match.images.first %>');">
        <p class="text-white"><%= match.first_name %></p>
    </div>
    <% end %>
</div>
<% end %>