<ul id="slides">
    <% @users.each_with_index do |user, index| %>
    <div class="slide <%= 'showing' if index == 0 %>" data-id="<%= user.id %>">
        <div class="image-carousel" style="background-image: url('<%= url_for user.images.first %>')"></div>
        <div class="user-detail">
            <span class="user-name"><%= user.first_name%></span>, 31<br />
            <i class="fa fa-graduation-cap mr-1"></i>Job /Studies<br />
            <i class="fa fa-map-marker mr-3"></i>Location
        </div>
    </div>
    <% end %>
</ul>

<div id="slide-controls">
    <span class="controls" id="decline"><i class="fa fa-times-circle fa-2x"></i></span>
    <span class="controls" id="approve"><i class="fa fa-heart fa-2x"></i></span>
</div>