.match-tile {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;

    p {
        position: absolute;
        bottom: 15px;
        left: 15px;
        margin: 0;
        font-weight: bold;
    }
}