<div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Join the best dating app</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">Get started for FREE</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        </div>
        <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sign Up Today</h4>
        </div>
        <div class="card-body">
            <p>Click below to get started.</p>
            <%= link_to 'Sign up now', new_account_registration_path, class: "btn btn-lg btn-block btn-primary" %>
        </div>
        </div>
</div>